<li class="right clearfix"><span class="chat-img pull-right">
                            <img src="/images/me.gif" alt="User Avatar" class="img-circle"/>
                        </span>
  <div class="chat-body clearfix">
    <div class="header">
      <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%= @created_at.strftime('%H:%M:%S %d/%m/%Y') %></small>
      <strong class="pull-right primary-font"><%= @my_name %></strong>
    </div>
    <p>
      <%= decrypt @message %>
    </p>
  </div>
</li>