<div class="container">
  <div class="row-fluid">
    <div class="span8">
      <audio controls>
        <source src="/audios/chat_msg.mp3" type="audio/ogg">
        Your browser does not support the audio tag.
      </audio>
    </div>
  </div>
</div>