<% unless @friend_lists.blank? %>
    <% @friend_lists.each do |friend| %>
        <h5><%= friend.full_name.blank? ? friend.username.truncate(16, separator:' ') : friend.full_name.truncate(16) %></h5>
    <% end %>
<% else %>
<% end %>