body{
//  position: relative;
  margin-top: 50px;
  background: url("/assets/body-bg.png");
}
.in_place_class input[type='text']{
  max-width: 120px;
}
.information-panel{
  border: 1px solid grey;
  padding-top: 0px;
}
.width-110{
  width: 110px !important;
}
.border-effect{
  box-shadow: 0px 0px 7px 1px green;
}
fieldset{
//  position: relative;
  display: inline-table;
  margin-top: 10px;
  border: 1px solid grey;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 3px 2px #D0D0D0;

}
legend{
   border: 1px solid grey;
   width: 120px;
   margin-top: 20px;
   padding: 5px;
   font-size: 15px;
   background: -webkit-linear-gradient(#FBFBFB, #F3EEEE, #D0D0D0);
   background: -moz-linear-gradient(#FBFBFB, #F3EEEE, #D0D0D0);
   background: -ms-linear-gradient(#FBFBFB, #F3EEEE, #D0D0D0);
   background: linear-gradient(#FBFBFB, #F3EEEE, #D0D0D0);
   box-shadow: 0px 0px 3px 2px #D0D0D0;
 }
.money-last-week{
//  position: relative;
  border: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 180px;
  text-align: center;
  margin-top: -55px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background: radial-gradient(90px 30px, #FBFBFB,#FBFBFB, #8FB6AE);
  box-shadow: 0px 0px 3px 2px #D0D0D0;
  margin-bottom: 0px;
}
#notifications {
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 350px;
  text-align: center;
  z-index: 999999;
}
.margin-left-20{
  margin-left: 20px;
}
.margin-auto{
  margin: auto;
}
.frame-body{
  border: 1px solid #9C9C9C;
  border-radius: 0px 20px 0px 20px;
  min-height: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 10px 7px #B2B0B1;
  .nav-tabs{
    a:hover{
      background-color: #ffffff;
      color: #000000;
      box-shadow: 0 0 5px 2px #B2B0B1;
    }
    .active{
      background-color: #ffffff;
      font-weight: bold;
      color: #000000;
    }
  }
}
hr{
  border: 1px solid #000000;
}
.margin-top-50 {
  margin-top: 50px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #000000;
}
.private-dhk {
  a.list-group-item-info:hover, a.list-group-item-info:focus {
    color: #ffffff;
    background-color: #31708F;
    border: 1px solid steelblue;
    box-shadow: 0 0 1px 1px #3789B2;
    text-shadow: 0 0 6px steelblue;
  }
  a:hover{
    text-decoration: none;
    text-shadow: 0 0 1px blue;
    background-color: transparent;
  }
  .booking_tab{
    padding: 5px;
    color: #ffffff;
    background-color: #31708F;
    border: 1px solid steelblue;
    box-shadow: 0 0 1px 1px #3789B2;
    text-shadow: 0 0 6px steelblue;
  }
}
.background-title{
  padding: 5px;
  background: -webkit-linear-gradient(#FBFBFB, #F3EEEE, #D0D0D0);
  background: -moz-linear-gradient(#FBFBFB, #F3EEEE, #D0D0D0);
  background: -ms-linear-gradient(#FBFBFB, #F3EEEE, #D0D0D0);
  background: linear-gradient(#FBFBFB, #F3EEEE, #D0D0D0);
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-70{
  margin-top: 70px;
}
.margin-top-120{
  margin-top: 120px;
}
.margin-left-10{
  margin-left: 10px;
}
.font-size-20{
  font-size: 20px;
}