<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group_chat_list.name %>
</p>

<%= link_to 'Edit', edit_group_chat_list_path(@group_chat_list) %> |
<%= link_to 'Back', group_chat_lists_path %>
