<div class="row frame-body margin-top-20">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="<%= 'active' if !session[:body_tab].blank? && session[:body_tab] == :spending %>">
          <a href="/managements">Daily Spending</a>
        </li>
        <li class="<%= 'active' if !session[:body_tab].blank? && session[:body_tab] == :add_goods %>">
          <a href="/managements/add_goods">Add Goods</a>
        </li>
      </ul>
    </div>
    <div class="col-md-12">
      <form>
        <fieldset>
          <legend>Information:</legend>
          <div class="form-inline">
            <label>Date Expiry: </label>
              <div class="col-md-2 input-group date" id="datetime-picker" data-date-format="DD/MM/YYYY">
                <input class="form-control" id="textFieldDate" name="preferred_date" placeholder="DD/MM/YYYY" readonly="true" type="text">
                <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
              </div>
            <label class="margin-left-20">Initial: </label>
            <input value="About 400" class="form-control width-110"/>
            <label class="margin-left-20">Spending: </label>
            <input value="About 380" class="form-control width-110"/>
            <label class="margin-left-20">Remain: </label>
            <input value="About 20" class="form-control width-110"/>
           </div>
        </fieldset>
      </form>
    </div>
</div>

<script>
    $(function() {
        $( ".drag-test" ).draggable();
    });

    var currentdate = new Date();
    var date_val = currentdate.getDate();
    var month_val = currentdate.getMonth() + 1;
    if (date_val < 10) {
        date_val = '0' + date_val
    }
    if (month_val < 10) {
        month_val = '0' + month_val
    }
    var datetime = date_val + "/"
            + (month_val) + "/"
            + currentdate.getFullYear();
    $('#textFieldDate').val(datetime);
    $(function () {
        $('#datetime-picker').datetimepicker({
            pickTime: false,
            dateFormat: 'dd/mm/yyyy',
            minDate: currentdate
        });
    });

</script>